<html>
    <head>
        <title> Sample Controller </title>
    </head>
    <body>
        <h1> Sample Controller </h1>
        <p>
            This is sample controller used to demo. 

        </p>
    </body>
</html>