<html>
    <head>
        <title> About View </title>
    </head>
    <body>
        <h1> About view Called </h1>
        <p>
            This is about view used to demo. 
        </p>
    </body>
</html>